/* 共同設定區 */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
}
img, a {
    display: block;
}
a {
    text-decoration: none;
    color: #000;
}
h1 {
    font-size: 128px;
}
h2 {
    font-size: 64px;
}
.fs-24 {
    font-size: 24px;
}
.fs-20 {
    font-size: 20px;
}
.text-primary {
    color: #fff;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.mb-24 {
    margin-bottom: 24px;
}
.mr-24 {
    margin-right: 24px;
}
.pt-160 {
    padding-top: 160px;
}
.pb-160 {
    padding-bottom: 160px;
}
.bg-primary {
    background-color: #000;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
}

/* 頁首區 */

.topbar {
    padding-top: 40px;
}
.topbar a {
    text-decoration: none;
    color: #D1D1D1;
}
.topbar a:hover {
    color: #00FFA3;
    font-weight: bold;
}
.banner {
    align-items: center;
    padding: 72px 0;
}
.banner>* {
    max-width: 636px;
}
.profile h1 {
    text-align: right;
    color: #00FFA3;
}
.btn {
    width: 185px;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 32px;
    
}
.profile .btn {
    background-color: #fff;
    margin-left: auto;
    color: #000;
}
.btn:hover {
    opacity: .8;
}

/* 主要內容區 */
#introduction {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.self-intro {
    width: 526px;
    align-self: start;
}
.self-intro h2 {
    margin-bottom: 36px;
}
.self-intro p {
    margin-bottom: 32px;
}
.sparkle-group {
    width: 128px;
}

/* About Me */
.skill-set {
    width: 636px;
    flex-wrap: wrap;
    align-items: center;
    margin: 206px 0;
}
.skill-set li {
    width: 306px;
    padding: 16px;
    border: 1px solid #E3e3e3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
}
.skill-description {
    width: 526px;
    margin: 160px 0;
}
.skill-description h2 {
    margin-bottom: 36px;
}

/* Contact us */
#contactUs {
    background: linear-gradient(#050014, #01021E);
}
#contactUs .container {
    align-items: center;
}
#contactUs .left-part img {
    margin-left: 13px;
}
#contactUs h2 {
    margin: 129px 0;
}
#contactUs ul {
    margin: 96px 0;
    align-items: center;
}
#contactUs ul img {
    width: 162px;
    height: 162px;
}

/* My Project */
#myProject h2 {
    width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}
.project .upperPart {
    margin-bottom: 28px;
}
.description .btn {
    color: #fff;
    margin-top: 76px;
}

/* 頁尾區 */

footer {
    padding: 40px 0;
    text-align: center;
    color: #fff;
}



